<html>
  <head>
    <title><$MTBlogName escape="html"$><__trans phrase="Shopping Cart" /></title>
  </head>
  <body>
    <h1>お客様情報編集</h1>
    
    <mt:If name="errstr">
      <div class="notice errstr"><$MTGetVar name="errstr" nl2br="1"$></div>
    </mt:If>

    <form action="<$MTCartPath$><$MTCartScript$>" method="post">
      <div style="line-height: 0; height: 0; display: inline; margin: 0; padding: 0;"><input type="hidden" name="blog_id" value="<$MTGetVar name='blog_id' escape='html'$>" /><input type="hidden" name="next" value="<$MTGetVar name='next' escape='html'$>" /><input type="hidden" name="magic_token" value="<$MTGetVar name='magic_token' escape='html'$>" /><input type="hidden" name="__mode" value="update_user" /></div>
      <table id="sign_up-form">
        <tr>
          <td><label for="delivery_name"><__trans phrase="user.delivery_name"></label></td>
          <td><input type="text" id="delivery_name" name="delivery_name" class="text-field" value="<$MTGetVar name='delivery_name' escape='html'$>" /></td>
        </tr>
        <tr>
          <td><label for="delivery_postal_1">郵便番号：</label></td>
            <td>
              <input type="text" size="3" name="delivery_postal1" value="<$MTGetVar name='delivery_postal1' escape='html'$>">-<input type="text" size="4" name="delivery_postal2" value="<$MTGetVar name='delivery_postal2' escape='html'$>">
            </td>
          </tr>
          <tr>
            <td><label for="delivery_state">都道府県：</label></td>
            <td>
              <select name="delivery_state">
                <option value="">--</option>
                <mt:loop name="states">
                  <mt:If name="delivery_state" eq="$__value__">
                    <option value="<$MTGetVar name='__value__' escape='html'$>" selected="selected"><$MTGetVar name='__value__' escape='html'$></option>
                  <mt:Else>
                    <option value="<$MTGetVar name='__value__' escape='html'$>"><$MTGetVar name='__value__' escape='html'$></option>
                  </mt:If>
                </mt:loop>
              </select>
            </td>
          </tr>
          <tr>
            <td><label for="delivery_address1">住所1：</label></td>
            <td><input type="text" id="delivery_address1" name="delivery_address1" value="<$MTGetVar name='delivery_address1' escape='html'$>"></td>
          </tr>
          <tr>
            <td><label for="delivery_address2">住所2：</label></td>
            <td><input type="text" id="delivery_address2" name="delivery_address2" value="<$MTGetVar name='delivery_address2' escape='html'$>"></td>
          </tr>
          <tr>
            <td><label for="delivery_tel">電話番号：</label></td>
            <td><input type="text" id="delivery_tel" name="delivery_tel" value="<$MTGetVar name='delivery_tel' escape='html'$>"></td>
          </tr>
        <tr>
          <td><label for="email"><__trans phrase="app.label.email"></label></td>
          <td><input type="text" id="email" name="email" class="text-field email-field" value="<$MTGetVar name='email' escape='html'$>" /></td>
        </tr>
        <tr>
          <td><label for="email_confirmation"><__trans phrase="app.label.email_confirmation"></label></td>
          <td><input type="text" id="email_confirmation" name="email_confirmation" class="text-field email-field" value="<$MTGetVar name='email_confirmation' escape='html'$>" /> 変更がない場合は空欄</td>
        </tr>
        <tr>
          <td><label for="password"><__trans phrase="app.label.password"></label></td>
          <td><input type="password" id="password" name="password" class="password-field" value="<$MTGetVar name='password' escape='html'$>" /> 変更がない場合は空欄</td>
        </tr>
        <tr>
          <td><label for="password_confirmation"><__trans phrase="app.label.password_confirmation"></label></td>
          <td><input type="password" id="password_confirmation" name="password_confirmation" class="password-field" value="<$MTGetVar name='password_confirmation' escape='html'$>" /> 変更がない場合は空欄</td>
        </tr>
        <tr>
          <th></th>
          <td>
            <input type="submit" value="<__trans phrase='app.button.update_user'>" />
          </td>
        </tr>
      </table>
          

    </form>
    
  </body>
</html>


