<html>
  <head>
    <title><$MTBlogName escape="html"$><__trans phrase="Shopping Cart" /></title>
  </head>
  <body>

    <form action="<$MTCartPath$><$MTCartScript$>" method="post">
      <div style="line-height: 0; height: 0; display: inline; margin: 0; padding: 0;"><input type="hidden" name="blog_id" value="<$MTGetVar name='blog_id' escape='html'$>" /><input type="hidden" name="next" value="<$MTGetVar name='next' escape='html'$>" /><input type="hidden" name="magic_token" value="<$MTGetVar name='magic_token' escape='html'$>" /><input type="hidden" name="__mode" value="do_sign_up" /></div>

      purchase

    </form>
    
  </body>
</html>


