<mt:setvar name="page_title" value="<__trans phrase="manage_mtcart_goods.page_title">" />
<mt:setvar name="screen_id" value="manage_mtcart_goods" />
<mt:setvarblock name="html_head" append="1">
  <link rel="stylesheet" href="<$MTStaticWebPath$>plugins/MTCart/css/admin.css" />
</mt:setvarblock>
<mt:include name="include/header.tmpl" id="header_include" />

<h2><$MTEntryTitle escape="html"$></h2>

<table class="variation-keys">
  <mt:loop name="variation_keys">
    <tr>
      <th><$MTGetVar name="__value__" escape="html"$></th>
      <td><input type="text" value="<mt:var name="$__value__" escape="html" />" /></td>
    </tr>
  </mt:loop>
</table>

<mt:loop name="variations">
  <mt:var name="__key__" setvar="key" />
  <mt:var name="__value__" setvar="variation" />
  [k:<$MTGetVar name="key"$>]
  <mt:loop name="variation">
    [v:<$MTGetVar name="__value__"$>]
  </mt:loop>
</mt:loop>

<table class="variations">
  <thead>
    <tr>
      <mt:loop name="variation_keys">
        <th><mt:var name="__value__" escape="html" /></th>
      </mt:loop>
      <th><__trans phrase="manage_mtcart_goods.price" /></th>
    </tr>
  </thead>
  <tbody>
    <mt:loop name="variations">
      <mt:var name="__value__" setvar="variation" />
      <mt:loop name="variation_keys">
        <td><input type="text" value="<mt:var name="$__value__" escape="html" />" /></td>
      </mt:loop>
      <td><input type="text" value="<$MTGetVar name="price" escape="html"$>"</td>
    </mt:loop>
  </tbody>
</table>

<mt:setvarblock name="jq_js_include" append="1">
</mt:setvarblock>
<mt:include name="include/footer.tmpl" id="footer_include" />
